.body {
    font-family: 'Anton', sans-serif;
    color: black;
    letter-spacing: 2px;
    
}

img{
    position: absolute;
    z-index: -1;
    background-repeat: repeat;
    top: px;
    bottom: 2px;
    width: 100%;
    height: 100%;
    opacity: .2;
}

h1 {
    font-size: 100px;
    color:goldenrod;
}

#splashscreen {
    /* background-image: url("./../../assets/images/1989wwe_roster.png"); */
    background-repeat: no-repeat;
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;
}

.splashBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
    margin-top: 35%;
}

.splashBox2 {
    margin: 0 auto;
    text-align: center;
    padding: 1%;
}

.wrongBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

label {
    color: burlywood;
}

#answerScreen {
    display: none;
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
}

#timesUp {
    display: none;
    background-image: url('');
    background-repeat: no-repeat;
    width: 35%;
    margin: 0 auto;
    padding: 1%;
    margin-top: 15%;
    font-size: 21px;
}

.up {
    color: red;
}

.timeRemain {
    padding: 2%;
    text-align: center;
    color:burlywood;
}

.timeRemain #time-remain {
    font-size: 50px;
}

body .container {
    height: 50%;
    text-align: center;
    color: red;
    display: none;
    margin-bottom: 5%;
    padding-bottom: 2%;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#correctTimesUp,#wrongTimesUp,p{
    color: goldenrod;
}

h4{
    color: darksalmon;
    font-size: 100px;
}


.questions {
    font-size: 25px;
    
}

.ques,
label {
    padding: 2%;
}

header {
    font-size: 60px;
    color: black;
    margin-top: 2%;
}

/* ==== media query for 980px  === */

/* @media only screen and (max-width: 980px) {
     {
        margin-right: 20px;
      }
    }  
  
  @media only screen and (max-width: 768px){
     {
        margin-right: 20px;
      }
    }
  
  @media only screen and (max-width: 559px) {
     {
      width: 100%;
    }
   }    */